cmake
numpy
opencv-python
matplotlib
pandas
ipykernel
keras_ocr
easyocr
tensorflow
deepface
streamlit
mysql-connector-python
sqlalchemy
torch 
torchvision 
opencv-python>=4.1.0
matplotlib
PyQt5
dlib
facenet
tf-keras